body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff; /* Counter text color */
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

/* Style for the Reset button */
button.reset {
  background-color: #dc3545;
}

button.reset:hover {
  background-color: #c82333;
}

/* Style for the Set to 10 button */
button.set {
  background-color: #28a745;
}

button.set:hover {
  background-color: #218838;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }
}